body {
  text-align: center;
  background-image: url("./img/mx_bg.jpg");
  background-size: cover;
  background-position: center;
}

.button {
  display: flex;
  justify-content: space-evenly;
}
.buttons button {
  margin-top: 10px;
  font-size: 15px;
}

.x {
  border: 1px solid blue;
}

.player {
  font-size: 35px;
}

.score {
  width: 50px;
  font-size: 40px;
  background-color: white;
  margin: 0 auto;
  border-radius: 5px;
}
